.none {
	display: none;
}
.um-content{
	background-color:#fff;
}
.team {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	background: #f8f8f8;
}
.team li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	font-size: 0.32rem;
	padding: 0.3rem 0;
}
.team li.active {
	border-bottom: 2px solid #1baede;
	color: #1baede;
}
.swiper-slide li{
	border-bottom: 1px solid #ccc
}
